* {
    margin: 0;
    padding: 0;
}

body {
    width: 400px;
    height: 500px;
}

.popup_header {
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab_navigation {
    height: 10vh;
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background-color: red;
    transition: 1s;
    width: 0%;

    /* display: none; */
    transition: 1s;
    overflow: hidden;
}

.menu.open {
    width: calc(100%-2vh);
    padding: 1vh;
    /* display: block; */
}

.create-menu {
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    height: 0%;
    background-color: red;
    transition: 1s;
    width: 100%;
}

.create-menu.open {
    opacity: 1;
    height: calc(100%-1vh);
    padding: 1vh;

}

/* .create-menu .fa-circle-xmark {
    opacity: 0;
    transition: 1s;
}

.create-menu.open .fa-circle-xmark {
    opacity: 1;
    transition: 1s;
} */


/* .menu .fa-circle-xmark{
    visibility: hidden;
}

.menu.open .fa-circle-xmark{
    visibility: visible;
} */

/* @keyframes{

} */