*{
    margin: 0;
    padding: 0;
}

body{
    width:400px;
    height: 500px;
}

.popup_header {
    background-color: grey;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab_navigation{
    height: 10vh;
    display: inline-flex;
    align-items: center;
    padding-inline: 5px;
    background-color: blue;
    width: 100%;
}